.container {
  .friendList {
    display: flex;
    flex-direction: column;
    align-items: center;

    .infoCard {
      border: 1px solid #ffabab;
      width: 350px;
      height: 288px;
      margin-bottom: 17px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .info {
        width: 330px;
        display: flex;
        flex-direction: row;
        font-weight: 600;
        font-size: 18px;
        align-items: flex-end;
        padding-left: 20px;
        margin-top: 8px;
        letter-spacing: 0.2px;

        .moreInfo {
          margin-left: 30px;
          font-size: 14px;
          letter-spacing: 0.5px;

          span {
            margin-left: 4px;
          }
        }
      }
      .aboutMe {
        font-size: 14px;
        width: 316px;
        height: 66px;
        border: 1px solid #dddddd;
        text-align: start;
        padding-top: 6px;
        padding-left: 10px;
        margin-top: 10px;
      }
      .pickedTags {
        display: flex;
        justify-content: space-between;
        width: 320px;
        margin-top: 15px;

        .tag {
          color: rgb(220, 192, 98);
          font-size: 14px;
          height: 18px;
          border: 0.5px solid rgb(213, 193, 139);
          border-radius: 3px;
          margin-bottom: 8px;
          padding: 0 6px 3px 6px;
        }
      }
    }
  }

  .chatroom {
    display: flex;
    flex-direction: column;
    align-items: center;

    .backArrow {
      height: 10px;
      position: absolute;
      top: 20px;
      left: 20px;
    }
    .OtherAvatarName {
      display: flex;
      justify-content: space-around;
      width: 330px;
      height: 80px;
      padding-top: 10px;
      padding-bottom: 6px;
      border-bottom: 1px solid sienna;

      .avatarAndName {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .avatar {
          width: 50px;
          height: 50px;
          background-color: rgb(212, 212, 212);
          border-radius: 50%;
        }

        .name {
          font-size: 14px;
          font-weight: 600;
          color: rgb(224, 144, 46);
        }
      }
    }

    .chatArea::-webkit-scrollbar {
      display: none;
      /* Chrome, Safari, Opera */
    }

    .chatArea {
      width: 360px;
      height: 400px;
      // height: 570px;
      margin-top: 24px;
      font-size: 16px;
      overflow: scroll;
      overflow-x: hidden;
      -ms-overflow-style: none; /* Edge, Internet Explorer */
      scrollbar-width: none; /* Firefox */

      .selfMessage {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 8px;

        .message {
          width: fit-content;
          padding: 3px 8px;
          border-radius: 5px;
          border: 0.5px solid rgb(237, 209, 119);
          background-color: rgb(255, 255, 255);
        }
        .sendingTime {
          color: gray;
          font-size: 12px;
          margin-right: 3px;
          margin-top: 3px;
        }
      }

      .friendMessage {
        display: flex;
        align-items: flex-start;

        .avatar {
          width: 36px;
          height: 36px;
          background-color: rgb(243, 174, 173);
          border-radius: 50%;
        }

        .messageAndTime {
          margin: 3px 0 0 10px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .message {
            background-color: rgb(255, 230, 230);
            width: fit-content;
            padding: 3px 8px;
            border-radius: 5px;
            border: 0.5px solid rgb(237, 209, 119);
          }

          .sendingTime {
            color: gray;
            font-size: 12px;
            margin-left: 3px;
            margin-top: 3px;
          }
        }
      }
    }

    .launchArea {
      background-color: rgb(255, 255, 255);
      border: 1px solid rgb(255, 242, 0);
      margin-top: 20px;
      height: 60px;
      width: 360px;
      display: flex;
      align-items: center;
      justify-content: center;

      input {
        margin: auto 10px;
        width: 236px;
        height: 30px;
      }
      .sendMessage {
        margin-right: 7px;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .container {
    .friendList {
    }

    .chatroom {
    }
  }
}
